/*
  File: project.css page
  Student’s Name: [Obi christian C]
  StudentID: [301329284]
  Date: [27th-01-2024]
*/
/* #works {
    margin: 0 auto;
    min-height: calc(100vh - 4rem);
    width: 50vw;
    max-width: 50rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align:center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding:0 1rem;
} */


/* .worksTitle{
    margin: 1rem 0;
    font-size: 3rem;
    font-weight: 300;
    padding-top: 3rem;
    margin-bottom: 1.5rem;
} */

/* .worksDesc {
    font-weight: 300;
    font-size: 2rem;
} */
 /* .worksImgs{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
    width: 300px;
} */

.worksImg{
    object-fit: cover;
    height: 10rem;
    margin: 1.5rem
}
.workBtn {
    padding: 0.5rem 2.5rem;
    border: none;
    border-radius: 2rem;
    background: white;
    font-size: 1rem;
}

@media screen and (max-width:585px){
    .worksImg{
    height: 50vw;
}
}